{% extends 'base.html.twig' %}

{% block title %}Modification d'une vidéo{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier une vidéo</h1>
        {{ video.url | raw }}
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">
            Modifier la vidéo
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}