{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau mto de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouveau mot de passe pour le compte {{ user.nickname }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            Créer votre mot de passe
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
