{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mot de passe oublié</h1>
        <p>Si vous avez oublié votre mot de passe, précisez l'adresse mail de votre compte afin que nous puissions vous envoyer un mail de reset de mot de passe.</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            Envoyer un mail de reset de mot de passe
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
