<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.1/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" force="true"/>
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="DATABASE_URL" value="mysql://root:@127.0.0.1:3306/phpsymfony-project6" />
        <env name="APP_SECRET" value="1687b87eabaa4a8ad076335003a72d25" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <env name="SYMFONY_PHPUNIT_VERSION" value="7.5"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
