{% for label, messages in app.flashes %}
    <div class="alertContainer alert alert-{{ label }} alert-dismissible fade show">
        <div class="d-flex flex-row align-items-center justify-content-center clearfix">
            {% for message in messages %}
                <p class="text-center align-content-center">{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
<div id="topBar"></div>
{% include 'partials/navBar.html.twig' %}
{% include 'partials/navBarMobile.html.twig' %}
