body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 200px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

label[for="comment_content"]
{
    display: none;
}

.authorIsCreator {
    color: gold;
    font-weight: bold;
}

.alertContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}