<h3>Demande de reset de mot de passe</h3>

<p>Bonjour {{ user.nickname }}! Vous avez fait une demande de reset de mot de passe.</p>

<p>Afin de créer un nouveau mot de passe, merci de cliquer sur
    <a href="{{ path('account_create_new_password', { 'resetToken' : user.resetToken }) }}">
        ce lien !
    </a>
</p>

À tout de suite !
