{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block body %}
    {% for trick in tricks %}
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header"><a href="{{ path('tricks_show', {'slug': trick.slug}) }}">{{ trick.name }}</a></h3>
                <img style="height: 200px; width: 100%; display: block;" src="{{ asset('uploads/images/' ~ trick.coverImage) }}" alt="..." />
            </div>
        </div>
    {% endfor %}
{% endblock %}
