{% extends 'base.html.twig' %}

{% block title %}Création d'une figure{% endblock %}

{% form_theme form 'trick/_collection.html.twig' %}

{% block body %}
<div class="container">
    <h1>Créer une nouvelle figure</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">
        Créer la nouvelle figure
    </button>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/trick.js') }}"></script>
{% endblock %}